@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;700&display=swap');

/* FUNDO BIBLIOTECA */

body{
	margin: 0;
	background: #030a0f;
}

canvas{ 
	display: block;
}

#particles-container { 
	justify-content: center;
	position: fixed; 
	width: 100%; 
	height: 100%;  
	background-repeat: no-repeat; 
	display: flex;
	background-size: cover; 
	background-position: 100% 100%; 
}

/* CONTAINER PRINCIPAL */

.container {
	position: fixed;
	margin: 0px auto;
	margin-top: 150px;
	width: 300px;
	padding: 20px;
	background-color: #091620;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
	font-family: 'Urbanist', sans-serif;
}

/* TÍTULO */

.container h1 {
	text-align: center;
	margin-bottom: 20px;
	font-size: 25px;
	font-weight: 700;
	color: #FFA91F;
}

label {
	color: #fff;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type="password"] {
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	font-family: 'Urbanist', sans-serif;
}

/*BOTÃO ENVIAR*/

button[type="submit"] {
	width: 130px;
	box-shadow: 0px 1px 0px 0px #03080c;
	background:linear-gradient(to bottom, #ffa91f 5%, #fcdf4b 100%);
	background-color:#ffa91f;
	border-radius:15px;
	border:2px solid #091620;
	display:inline-block;
	cursor:pointer;
	color:#03080c;
	font-family: 'Urbanist', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding:12px 30px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button[type="submit"]:hover {
	background:linear-gradient(to bottom, #fcdf4b 5%, #ffa91f 100%);
	background-color:#fcdf4b;
}

button[type="submit"]:active{
	position:relative;
	top:1px;
}

/*BOTÃO MOSTRAR SENHA*/

#password-form button[type="button"] {
	width: 130px;
	box-shadow: 0px 1px 0px 0px #03080c;
	background:linear-gradient(to bottom, #c4e3ff 5%, #f5faff 100%);
	background-color:#c4e3ff;
	border-radius:15px;
	border:2px solid #091620;
	display:inline-block;
	cursor:pointer;
	color:#03080c;
	font-family: 'Urbanist', sans-serif;
	font-size:14px;
	font-weight:bold;
	padding: 12px 30px;
	text-decoration:none;
	text-transform: uppercase;
	text-shadow:0px 1px 0px #ffffff;
}

#password-form button[type="button"]:hover {
	background:linear-gradient(to bottom, #f5faff 5%, #c4e3ff 100%);
	background-color:#f5faff;
}

#password-form button[type="button"]:active {
	position:relative;
	top: 1px;
}

#names {
	margin-top: 20px;
	text-align: center;
	color: #fff;
}

#password-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#password-form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

#password-form label {
  margin-bottom: 5px;
}

.password-input {
	width: 200px;
  	border: 1px solid #ccc;
  	border-radius: 5px;
  	padding: 10px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	font-family: 'Urbanist', sans-serif;
	font-weight: 700;
}

#message {
  margin-top: 10px;
  color: #f81818;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
}

#password-form .ocultar-senha .password-input {
  width: 100%;
}

.quadro {
	position: fixed;
	justify-content: flex-start;
	color: #fff;
	font-family:'Urbanist', sans-serif;
	margin: 10px;
	padding: 15px;
	line-height: 25px;
}